.pageContainer {
  min-height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: var(--headerSize) auto var(--footerSize);
  justify-content: center;
  gap: calc(var(--margin) * 1);

  .mainContent {
    max-width: var(--maxWidth);
    width: var(--mainElementsWidth);
    margin: 0 var(--margin);
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    overflow: hidden;
    background-color: var(--backgroundColor2);
  }

  .mainFooter {
    max-width: var(--maxWidth);
    width: var(--mainElementsWidth);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--margin);
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    box-shadow: var(--boxShadow);
    background-color: var(--backgroundColor2);
    margin: 0 var(--margin);

    p {
      font-size: 80%;
      color: var(--textColor);
      line-height: 2;
    }
  }

}
