.pageTitle {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--borderColor);
  line-height: 2;
}

.blockContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--margin);
  gap: calc(var(--margin) * 2);

  .blockContent {
    width: calc(100% - var(--margin));
    max-width: 950px;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--margin);
    width: calc(100% - var(--margin));
    max-width: 950px;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    padding: var(--margin);

    .formFields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--margin);
      width: 100%;

      .formField {
        display: flex;
        flex-direction: column;
        width: 100%;

        &.checkbox {
          flex-direction: row-reverse;
          justify-content: flex-end;
          align-items: center;

          label {
            margin: 0;
          }

          input {
            width: auto;
            margin: 0;
          }
        }

        label {
          width: 100%;
          font-size: 0.9rem;
          font-weight: 700;
          margin-bottom: 1px;
          padding-left: 5px;
          user-select: none;
        }

        input {
          padding: calc(var(--margin) / 3);
          border: 1px solid var(--borderColor);
          border-radius: 5px;
          font-size: 1rem;
          color: var(--textColor);
          transition: border-color 0.2s ease-in-out;

          &:focus {
              outline: none;
              border-color: var(--primaryColor);
          }
        }

        .error {
          margin-left: 5px;
          color: var(--errorColor);
          font-size: 0.8rem;
          margin-top: 2px;
          height: 1rem;
          font-style: italic;
        }
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    .buttonContainer {
      margin: var(--margin) 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }


    .popUpContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: calc(var(--margin) * 2);

      .popUpText {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;

        p:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .productTable {
    width: calc(100% - var(--margin));
    max-width: 950px;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    border-collapse: collapse;

    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) / 2);

    .productTableRow {
      display: grid;
      grid-template-columns: 100px 1fr 145px 120px 145px;
      grid-template-rows: 1fr;
      gap: calc(var(--margin) / 2);

      &:not(:first-child) {
        padding-top: calc(var(--margin) / 2);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      &:first-child.productTableRow:nth-child(1), &:first-child.productTableRow:nth-child(1)img {
        border-radius: var(--borderRadius) 0 0 0;
      }

      .productTitle {
        display: flex;
        align-items: center;
        font-weight: bold;
      }


      @media screen and (max-width: 768px) {
        grid-template-columns: 100px 1fr 4fr;
        grid-template-rows: 1fr 25px 25px;

        .productTableCell {
          &:nth-child(2) {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
          }

          &:nth-child(3) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            margin-left: calc(var(--margin) / 2);
            justify-self: left;
          }

          &:nth-child(4) {
            grid-column: 2 / 4;
            grid-row: 2 / 3;
            margin-right: calc(var(--margin) / 2);
          }

          &:nth-child(5) {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
            margin-right: calc(var(--margin) / 2);
          }
        }
      }
    }

    .productTableTotal {
      font-size: 110%;
      border-top: 1px solid var(--accentColor);
      padding: calc(var(--margin) / 2) 0;
    }
  }

  .loadingContainer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;

    .loading {
      width: 3rem;
      height: 3rem;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid var(--accentColor);
        border-top-color: transparent;
        border-right-color: transparent;
        animation: spin 1s linear infinite;

        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
