.pageTitle {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--borderColor);
  line-height: 2;
}

.blockContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--margin);
  gap: calc(var(--margin) * 3);

  .blockContent {
    width: calc(100% - var(--margin));
    max-width: 950px;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--margin);
    width: calc(100% - var(--margin));
    max-width: 950px;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    padding: var(--margin);

    .formFields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--margin);
      width: 100%;

      .formField {
        display: flex;
        flex-direction: column;
        width: 100%;

        &.checkbox {
          flex-direction: row-reverse;
          justify-content: flex-end;
          align-items: center;

          input {
            width: auto;
            margin: 0;
          }
        }

        label {
          width: 100%;
          font-size: 0.9rem;
          font-weight: 700;
          margin-bottom: 1px;
          padding-left: 5px;
          user-select: none;
        }

        input {
          padding: calc(var(--margin) / 3);
          border: 1px solid var(--borderColor);
          border-radius: 5px;
          font-size: 1rem;
          color: var(--textColor);
          transition: border-color 0.2s ease-in-out;

          &:focus {
              outline: none;
              border-color: var(--primaryColor);
          }
        }

        .error {
          margin-left: 5px;
          color: var(--errorColor);
          font-size: 0.8rem;
          margin-top: 2px;
          height: 1rem;
          font-style: italic;
        }
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    .buttonContainer {
      margin: var(--margin) 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }


    .popUpContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: calc(var(--margin) * 2);

      .popUpText {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;

        p:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .productTable {
    width: calc(100% - var(--margin));
    max-width: 950px;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    border-collapse: collapse;

    tbody {
      tr {
        td {
          padding: calc(var(--margin) / 2);
        }

        &:not(:last-child) {
          border-bottom: solid 1px var(--borderColor);
        }

        &:last-child {
          td {
            text-align: flex-end;
            font-weight: 800;
          }
        }
      }
    }
  }

  .loadingContainer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;

    .loading {
      width: 3rem;
      height: 3rem;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid var(--accentColor);
        border-top-color: transparent;
        border-right-color: transparent;
        animation: spin 1s linear infinite;

        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
